@page
@model ScheduleManager.Pages.File.ResultDemoModel
@using ScheduleManager.Models

<div class="alert alert-success">File uploaded successfully.</div>


<form method="post">
    <button type="submit">Generate Timetable</button>
</form>

<h1 style="color: green">Data Valid</h1>

@foreach (var item in Model.validData)
{
    <div>@item.Class - @item.Subject - @item.Room - @item.Teacher - @item.TimeSlot</div>
}

<h1 style="color:red">Data Error</h1>

@foreach (var item in Model.dataError)
{
    if (item.MissData == null)
    {
        <div>@item.Class,@item.Subject,@item.Room,@item.Teacher,@item.TimeSlot (@item.Message)</div>
    }
    else
    {
        <div>@item.MissData (@item.Message)</div>
    }
}
