@page
@model ScheduleManager.Pages.File.ResultDemoModel
@using ScheduleManager.Models.DTO
@using Newtonsoft.Json


@{
    List<RootDataValid>? validData = JsonConvert.DeserializeObject<List<RootDataValid>>(TempData["ValidData"].ToString());
    List<RootDataError>? dataError = JsonConvert.DeserializeObject<List<RootDataError>>(TempData["DataError"].ToString());
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<h1 style="color: green">Data Valid</h1>
@if (TempData["ValidData"] != null)
{
    foreach (var item in validData)
    {
        <div>@item.Class - @item.Subject - @item.Room - @item.Teacher - @item.TimeSlot</div>
    }
}

<h1 style="color:red">Data Error</h1>
@if (TempData["DataError"] != null)
{
    foreach (var item in dataError)
    {
        <div>@item.Class - @item.Subject - @item.Room - @item.Teacher - @item.TimeSlot (@item.Message)</div>
    }
}
